body {
    background-color: #0b1328;
    background-size: contain;
  }

img[src="../images/The_Knight.png"] {
    border-radius: 50%;
    max-width: 7%;
    height: auto;
    display: block;
    margin-left: 280px;
    border:whitesmoke 5px solid;
}

#header {
    color: floralwhite;
    margin-left: 575px;
    font-size: x-large;
}

#headerTwo {
    color: floralwhite;
    margin-left: 855px;
    font-size: x-large;
}

#dircBorder {
    border:darkslateblue solid;
    margin-left: 400px;
    margin-right: 400px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    font-size: larger;
}

#navText {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-right: 100px;
}

#text {
    border:darkslateblue solid;
    margin-left: 400px;
    margin-right: 400px;
    color: whitesmoke;
    font: large;
}

img[src="../images/EnbelSaWEAIeqP-.png"] {
    float: right;
    margin-right: 140px;
}

